*,
    *::after,
    *::before{
        margin: 0;
        padding:  0;
        box-sizing: inherit;
}
html {
    font-size: 10px;
}
body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}
.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.toggle{
    display: none;
    margin: 2rem 0;
    backface-visibility: hidden;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.toggle::before{
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50%;
    height: 2px;
    background: #fc344e;
    transition: 0.5s;
}
.toggle span{
    width: 50%;
    height: 2px;
    position: absolute;
    transition: 0.5s;
    transform: translateX(-50%);
}
.toggle span:nth-child(1){
    top: 30%;
    left: 50%;
    background: #fff;
}
.toggle span:nth-child(2){
    bottom: 30%;
    left: 50%;
    background: #fff;
}
.toggle.toggle-active::before{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.toggle.toggle-active span:nth-child(1){
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%) rotate(135deg);
    background: #fc344e;
}
.toggle.toggle-active span:nth-child(2){
    bottom: 45%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%) rotate(225deg);
    background: #fc344e;
}

.header{
    display: block;
    width: 100%;
    position: absolute;
    z-index: 10;
    /* background: #000; */
}
.header2{
    display: none;
}
.header__logo{
    margin: 2rem 0;
}
.header__logo img{
    width: 100%;
}
.header__menu{
    margin-top: 1rem;
    margin-left: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.header__menu-sub{
    display: flex;
}
.header__sub-list{
    margin: 1rem;
}
.header__sub-list a:link,
.header__sub-list a:visited{
    font-size: 1.4rem;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
}
.header__sub-list a:hover {
    font-weight: 700;
}

.header__sub-search{
    background: #1f1f1f;
    border-radius: 5rem;
    max-width: 20rem;
    height: 3rem;
    position: relative;
    margin: 0 1rem;
}
.header__sub-search input{
    width: 10rem;
    border: none;
    background: none;
    float: left;
    margin-left: 1rem;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3rem;
}
.header__sub-search button{
    color: #f8f8f8;
    font-size: 1.2rem;
    float: right;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.header__sub-languages select{
    padding: 0 1rem;
    height: 3rem;
    color: #FFF;
    background: none;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 2rem;
}
.header__sub-languages option{
    background: #000;
    font-size: 1.6rem;
    border: none;
}

.header__nav{
    margin-top: 1rem;
    float: right;
}
.header__nav ul{
    display: flex;
}
.header__nav ul li{
    list-style: none;
    border-right: 1px solid #A9A9A9;
    padding: 0 1.5rem;
}
.header__nav ul li:last-child{
    border: none;
    padding-right: 0;
}
.header__nav ul li a:link,
.header__nav ul li a:visited{
    font-size: 1.6rem;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}
.header__nav ul li a i{
    color: #fc344e;
    margin-left: 0.5rem;
    transition: 0.3s;
}
.header__nav ul li a:hover{
    color: #fc344e;
}
.header__nav ul li a:hover i{
    color: #FFF;
    transform: rotateY(180deg);
}

.hero{
    height: 100vh;
    background: radial-gradient( #00152d, #000);
    color: #FFF;
    position: relative;
    top: 0;
    width: 100%;
    margin-bottom: 0;
}
.hero__textbox{width: 40%;}
.heading-primary{
    width: 100%;
    margin-top: 3rem;
}
.heading-primary-name{
    font-weight: 700;
    font-size: 4.8rem;
    display: block;
    margin: 1rem 0;
}
.heading-primary-main{
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 2rem 0;
    display: block;
}
.heading-primary-sub{
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    display: block;
}

.btn{
    background: none;
    border: none;
    color: #FFF;
}
.btn-underline{
    text-align: left;
    width: 150px;
    font-weight: 700;
    padding: 1rem 0;
    font-size: 1.6rem;
    cursor: pointer;
    border-bottom: 1px solid #fc344e;
    transition: 0.5s;
}
.btn-underline i{
    padding-left: 2rem;
    font-size: 1rem;
    color: #fc344e;
    transition: 0.5s;
}
.btn-underline:hover{
    color: #fc344e;
    border-bottom: 1px solid #FFF;
}
.btn-underline:hover.btn-underline i{
    padding-left: 1rem;
    color: #FFF;
}

.btn-arrow{
    padding: 1rem;
    margin: 0 2rem;
    transition: 0.5s;
}
.btn-arrow i{
    color: #fc344e;
    margin-left: 2rem;
    font-size: 1.2rem;
    transition: 0.5s;
}
.btn-arrow:hover{
    color: #fc344e;
    transition: 0.5s;
}
.btn-arrow:hover.btn-arrow i{
    margin-left: 1rem;
    transition: 0.5s;
}

.hero__images{
    width: 60%;
    /* background: chartreuse; */
    position: relative;
    text-align: center;
}
.hero__images img{
    box-shadow: 3px 20px 15px -15px rgba(0, 0, 0, .8);
}

.hero__panel{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.hero__panel ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #999;
    font-weight: 400;
}
.hero__panel ul li{
    padding: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.5s;
}
.hero__panel ul li:hover,
.active{
    border-bottom: 3px solid #FFF;
    font-weight: 700;
    color: #FFF;
    transition: 0.5s;
}

.collection{
    background:#000;
    padding-top: 5rem;
    position: relative;
    padding-bottom: 15%;
}

.heading-text{
    width: 40%;
    margin: 3rem 0;
    text-align: center;
}
.heading-text-tag{
    font-weight: 700;
    font-size: 2.4rem;
    margin: 1rem 0;
    text-transform: uppercase;
    display: block;
}
.heading-text-sub{
    font-weight: 500;
    font-size: 1.8rem;
    display: block;
}

.red-line{
    margin-bottom: 5rem;
    height: 2px;
    width: 100px;
    background: #fc344e;
}

.dock1-panel{
    width: 100%;
    background: linear-gradient(to bottom, #181818, #191919);
    padding: 5rem 10rem;
}
.dock1-text{
    position: relative;
    width: 50%;
}
.dock1-text-title{
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}
.dock1-text-title h3{
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
}
.dock1-text-title button{
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
}
.dock1-text p{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
}

.dock1-image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.dock1-image img{
    margin-right:3rem;
    box-shadow: 3px 20px 15px -15px rgba(0, 0, 0, .8);
}
.dock1-image p{
    width: 40%;
}
.dock1-image-series{
    font-weight: 500;
    font-size: 1.4rem;
    display: block;
    margin-bottom: 1rem;
}
.dock1-image-model{
    font-weight: 700;
    font-size: 1.8rem;
    display: block;
    margin-bottom: 2rem;
}
.dock1-image-desc{
    font-weight: 500;
    font-size: 1.4rem;
    display: block;
    line-height: 1.8rem;
}

.dock2-panel{
    width: 100%;
    background: linear-gradient(to bottom, #2a2a2a, #1f1f1f);
    padding: 5rem 10rem ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    z-index: 2;
}
.dock2-panel p{
    width: 80%;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin-bottom: 2rem;
}
.dock2-tab{
    width: 100%;
    border-bottom: 1px solid #666666;
    margin: 2rem 0;
}
.dock2-tab ul{
    font-weight: 500;
    font-size: 1.4rem;
    color: #CCC;
}
.dock2-tab ul li{
    float: left;
    padding: 1rem 0;
    margin-right: 3rem;
    cursor: pointer;
}
.tab-active{
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFF;
    border-bottom: 2px solid #fc344e;
}
.dock2-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.dock2-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}
.dock2-items:hover{
    border-bottom: 1px solid #fc344e;
}
.dock2-items img{
    max-height: 100px;
    box-shadow: 3px 20px 15px -15px rgba(0, 0, 0, .8);
}
.x-image-model{
    font-weight: 700;
    font-size: 1.8rem;
    display: block;
    margin: 1.5rem 0;
    text-align: center;
}
.x-image-desc{
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    display: block;
    line-height: 1.6rem;
}
.dock2-more{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #4f4f4f;
    cursor: pointer;
    transition: 0.3s;
}
.dock2-more:hover{
    border: 2px dashed #fc344e;
    background: rgba(102, 102, 102, 0.3);
}
.dock2-more span{
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
}
.dock2-more i{
    color: #fc344e;
    padding: 1rem;
    font-size: 1.4rem;
}
.dock-shadow{
    box-shadow: 3px 20px 15px -15px rgba(0, 0, 0, .8);
}

.dock-grey{
    background: linear-gradient(to bottom, #e4e4e4, #d3d3d3);
}
.grey-content{
    position: relative;
    height: 100vh;
}
.grey-absolute{
    position: absolute;
    top: -35%;
}
.grey-items{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fc344e; */
    color: #000;
}
.acc-item{
    width: 100%;
    border-right: 1px solid #bababa;
    padding: 0 3rem;
    padding-bottom: 3rem;
}
.acc-item button:hover{
    background: #fc344e;
    color: #FFF;
}
.acc-item:last-child{
    border: none;
}
.acc-item span{
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
    display: block;
    padding: 2rem 0;
}
.acc-item p{
    font-weight: 500;
    font-size: 1.6rem;
    display: block;
    line-height: 2.1rem;
    width: 100%;
}
.acc-item .btn{
    color: #000;
    font-size: 1.4rem;
    min-width: 40%;
    display: inline;
}

.article h2{
    color: #000;
}
.article .btn{
    color: #000;
    font-size: 1.4rem;
    width: 17.5rem;
}
.article .btn:hover.btn-underline{
    color: #fc344e;
    border-bottom: 1px solid #000;
}
.article .btn:hover.btn-underline i{
    color: #000;
}

.article-gallery{
    margin-bottom: 10rem;
}
.article-gallery-item{
	background: linear-gradient(var(--yellow), var(--yellow));
	overflow: hidden;
    position: relative;
    cursor: pointer;
}
.article-gallery-item:hover .gallery-item_img{
    transform: scale(1.1);
    transition: 0.5s;
    z-index: 1;
}
.article-gallery-item::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    z-index: 2;
}

.gallery-item_img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}
.gallery-item_content{
    position: absolute;
    padding:3rem;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.content-tags{
    font-weight: 500;
    font-size: 1.4rem;
    position: absolute;
    padding: 1rem;
    background: #fc344e;
}
.content-title{
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 25%;
}
.content-title-sm{
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 20%;
    width: 80%;
}
.content-desc{
    font-weight: 500;
    font-size: 1.6rem;
    position: absolute;
    bottom: 15%;
    width: 80%;
}
.content-footnote{
    font-weight: 500;
    font-size: 1.4rem;
    position: absolute;
    bottom: 10%;
    width: 80%;
}
.content-footnote b{
    font-weight: 700;
}

.footer{
    background: #000;
    padding: 10rem 0;
    position: relative;
}
.newsletter{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}
.subscribe{
    position: relative;
    width: 100%;
    height: 100%;
    background: #fc344e;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.subscribe::after{
    background: linear-gradient(145deg, #fff 4px 10px, transparent 0),linear-gradient(-45deg, #fff 4px 8px, transparent 0);
    /* background: linear-gradient(90deg, #fff 5px, transparent 0), linear-gradient(90deg, #fff 5px, transparent 0); */
    background-position: top;
    background-repeat: repeat-x;
    background-size: 50px;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
}
.subscribe::before{
    background: linear-gradient(145deg, #fff 4px 10px, transparent 0),linear-gradient(-45deg, #fff 4px 8px, transparent 0);
    /* background: linear-gradient(90deg, #fff 5px, transparent 0), linear-gradient(90deg, #fff 5px, transparent 0); */
    background-position: top;
    background-repeat: repeat-x;
    background-size: 50px;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
}
.news-text{
    width: 50%;
    margin-right: 3rem;
}
.news-text h6{
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.news-text p{
    font-weight: 500;
    font-size: 1.4rem;
}
.news-form{
    width: 50%;
}
.news-form label{
    display: block;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.news-form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #FFF;
    background: none;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3rem;
    float: left;
}
.news-form input::placeholder{
    color: #660000;
}
.news-form button{
    color: #FFF;
    font-size: 1.4rem;
    width: 3rem;
    height: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: -30px;
    z-index: 5;
}

.footer-logo p{
    display: block;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #ccc;
}
.footer span{
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFF;
    padding-bottom: 1rem;
    cursor: pointer;
}
.footer span::before{
    content: '';
    position: absolute;
    margin-top: 3rem;
    width: 1rem;
    height: 1px;
    background: #fc344e;
}
.footer ul{
    margin-top: 3rem;
}
.footer ul li{
    font-weight: 500;
    font-size: 1.6rem;
}
.footer-product ul li,
.footer-other ul li,
.footer-activity ul li,
.footer-help ul li{
    color: #ccc;
    line-height: 3.1rem;
    cursor: pointer;
}
.footer-product ul li:hover,
.footer-other ul li:hover,
.footer-activity ul li:hover,
.footer-help ul li:hover{
    color: #FFF;
    line-height: 3.1rem;
}
.footer-other ul{
    margin-top: 5rem;
}
.footer-social ul{
    list-style: none;
    display: flex;
    color: #000;
}
.footer-social ul li{
    width: 30px;
    height: 30px;
    padding: 7px;
    font-size: 1.4rem;
    margin: 1rem 0;
    margin-right:1rem;
    background: #FFF;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid rgba(0, 0, 0, 0);
}
.footer-social ul li:hover{
    border: 1px solid #fc344e;
    color: #fc344e;
    background: none;
}

@media screen and (min-width: 768px){
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero__panel-control{
        display: none;
    }
    .article-gallery{
        width: 100%;
        padding: 3rem 0;
        display: grid;
        grid-template-columns : repeat(4,300px);
        grid-template-rows : repeat(2,200px);
        grid-gap: 2rem;
        grid-template-areas:
        "one one two three"
        "one one four five"
    }    
    .item-1{
        grid-area: one;
    }
    .item-2{
        grid-area: two;
    }
    .item-3{
        grid-area: three;
    }
    .item-4{
        grid-area: four;
    }
    .item-5{
        grid-area: five;
    }
    .footer-grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }
}

@media screen and (max-width: 768px){
    
    .container{
        width: 100%;
        padding: 0 2rem;
    }

    .flex-down{
        padding-top: 7.5rem;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    .header{
        display: none;
    }
    .header2{
        display: block;
        width: 100%;
        position: absolute;
        z-index: 10;
        transition: 0.5s;
    }
    .header-active{
        background: #000;
    }
    .btn-search{
        height: 40px;
        width: 40px;
        margin: 2rem 0;
        margin-left: auto;
        border: none;
        background: none;
        color: #FFF;
    }
    .header__nav2{
        position: absolute;
        width: 100%;
        height: 90vh;
        background: #000;
        top: 70px;
        right: -100%;
        transition: 0.5s;
        z-index: 20;
        padding: 0 2rem;
    }
    .nav-active{
        right: 0;
    }
    .header__nav2 ul{
        position: relative;
        display: block;
    }
    .header__nav2 ul li{

        width: 100%;
        padding: 2rem 0;
        list-style: none;
        border-bottom: 1px solid #A9A9A9;
    }
    .header__nav2 ul li a:link,
    .header__nav2 ul li a:visited{
        font-size: 1.4rem;
        color: #FFF;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
    }
    .header__nav2 ul li a i{
        color: #fc344e;
        margin-left: 0.5rem;
        float: right;
    }
    .header__nav2 .header_mini-list{
        width: 100%;
        padding: 1rem 0;
        text-decoration: none;
    }
    .header__nav2 .header_mini-list a:link,
    .header__nav2 .header_mini-list a:visited{
        font-size: 1.4rem;
        font-weight: 500;
        color: #ccc;
        text-decoration: none;
    }    
    .header__nav2 .header_mini-list i{
        float: right;
    }
    .header__nav2 .header__sub-languages{
        position: absolute;
        bottom: 10%;
        right: 5%;
    }

    .toggle{
        display: block;
    }

    .hero__textbox{
        width: 100%;
    }
    .hero__images img{
        margin-top: 3rem;
        width: 100%;
    }

    .header__logo img{
        width: 60%;
    }

    .header__menu{
        display: none;
    }

    .heading-primary-name{
        font-size: 2.4rem;
    }
    .heading-primary-main{
        font-size: 1.8rem;
    }
    .heading-primary-sub{
        font-size: 1.4rem;
    }

    .btn-underline{
        font-size: 1.4rem;
    }

    .hero__panel{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .hero__panel ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: #999;
        font-weight: 400;
    }
    .hero__panel ul li{
        padding: 20px;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .hero__panel{
        overflow: hidden;
        width: 100%;
    }
    .hero__panel ul {
        position: relative;
        list-style: none;
        /* width: 100px; */
        grid-template-columns: 100% 100% 100% 100%;
    }
    .hero__panel ul li {
        position: relative;
        width: 100%;
        height: 3rem;
    }
    .hero__panel-control{
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
    .hero__panel-control button{
        font-size: 2rem;
        margin: 0 1rem;
        cursor: pointer;
        color: #333e4a;
        text-decoration: none;
        list-style: none;
    }
    .hero__panel-control button.available{
        color: #FFF;
    }

    .heading-text{
        width: 100%;
    }
    .heading-text-tag{
        font-size: 1.8rem;
    }
    .heading-text-sub{
        font-size: 1.4rem;
    }

    .dock1-panel{
        padding: 2rem 2rem;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .dock1-text{
        width: 100%;
    }
    .dock1-text p{
        font-size: 1.4rem;
    }
    .dock1-image{
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .dock1-image img{
        margin: 3rem;
    }
    .dock1-image p{
        width: 100% ;
    }

    .dock2-panel{
        padding: 2rem 2rem ;

    }
    .dock2-panel p{
        width: 100%;
        font-size: 1.4rem;
    }

    .dock2-tab{
        width: 100%;
        border-bottom: 1px solid #666666;
        margin: 2rem 0;
    }
    .dock2-tab ul{
        font-weight: 500;
        font-size: 1.2rem;
        color: #CCC;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dock2-tab ul li{
        width: 50%;
        padding: .5rem 0;
        margin-right: 1rem;
    }
    .tab-active{
        font-size: 1.4rem;
    }
    .dock2-images{
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .dock2-more{
        align-items: center;
        padding: 5rem;
        width: 100%;
        height:250px;
    }
    .dock1-panel p{
        font-size: 1.2rem;
    }
    .dock2-panel p{
        font-size: 1.2rem;
    }
    .dock2-tab ul li{
        font-size: 1.2rem;
        width: 50%;
    }
    .x-image-desc{
        font-size: 1.2rem;
    }

    .grey-content{
        height: 100%;
    }
    .grey-absolute{
        position: relative;
    }
    .grey-items{
        position: relative;
        color: #000;
        flex-flow: column;
        padding:2rem;
    }
    .acc-item{
        border: none;
        padding: 0 2rem;
        padding-top: 5rem;
    }
    .acc-item-name{
        font-size
        
    }
    .acc-item .btn{
        width: 100%;
    }

    .article-gallery{
        width: 100%;
        grid-template-columns : 1fr;
    }
    .article-gallery-item{
        margin: 1rem 0;
    }
    .gallery-item_img{
        width: 100%;
        min-height: 200px;
        max-height: 200px;
        object-fit: cover;
    }
    .content-title{
        font-size: 1.6rem;
        bottom: 20%;
    }
    .content-desc{
        display: none;
    }
    .content-footnote{
        font-size: 1.2rem;
    }
    .footer-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }
    .newsletter{
        position: relative;
    }
    .subscribe{
        position: relative;
        background: #fc344e;
        padding: 5rem 2rem;

        flex-flow: column;
        color: #FFF;
    }
    .news-text,
    .news-form{
        width: 100%;
        text-align: center;
        margin: 2rem 0;
    }
}